<!--charts.js tutorial https://simpleisbetterthancomplex.com/tutorial/2020/01/19/how-to-use-chart-js-with-django.html-->
<!--https://stackoverflow.com/questions/24555823/multiple-chartjs-in-the-same-page/40401048-->
<!--format datetime for html form https://stackoverflow.com/questions/63099974/django-template-convert-datetime-local-format-->
<a href="{% url 'polls:index'%}">Back to Threads List</a>
<br>
<a href="{% url 'polls:users'%}">Users</a>
<br>
<a href="{% url 'polls:detail' thread_info.thread_id %}">Replies for Thread</a>
<br>
<h2> {{ thread_info.title }} </h2>
{% block content %}
<!--form that will filter date range of posts -->
<form method="POST">{% csrf_token %}
  <p>Start date<input type = 'datetime-local'  name='start_date'
                      value="{{date_of_first_reply_in_date_range|date:'Y-m-d'}}T{{date_of_first_reply_in_date_range|time:'H:i'}}"
                      min="{{date_of_first_reply|date:'Y-m-d'}}T{{date_of_first_reply|time:'H:i'}}"
                      max="{{date_of_last_reply|date:'Y-m-d'}}T{{date_of_last_reply|time:'H:i'}}">
  </p>
  <p>End date<input type = 'datetime-local'  name='end_date'
                    value="{{date_of_last_reply_in_date_range|date:'Y-m-d'}}T{{date_of_last_reply_in_date_range|time:'H:i'}}"
                    min="{{date_of_first_reply|date:'Y-m-d'}}T{{date_of_first_reply|time:'H:i'}}"
                    max="{{date_of_last_reply|date:'Y-m-d'}}T{{date_of_last_reply|time:'H:i'}}">
  </p>
  <button type="submit">Submit</button>
</form>
<br>
<a href="{% url 'polls:pie_chart' thread_info.thread_id %}">Unfilter</a>
<!--filter by username form-->
<form method="POST">{% csrf_token %}
  <label for="fname">Filter by Username:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <br>
  <input type="submit" value="Submit">
</form>
<br>
<form action = "{% url 'polls:pie_chart' thread_info.thread_id %}">
  <input type="submit" value="Include quoted replies" />
</form>

<!-- add the charts.js library to page -->
<!-- create two variables (sentiment_for_quotes, sentiment_for_no_quotes) that will use the data passed from views.py
pie_chart method to create pie charts using the charts.js lib -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<br>
<div id="container_1" style="width: 60%; margin: 0 auto;">
<canvas id="total-replies-datetime-bar-canvas"></canvas>
</div>
  <script>
  var total_replies_datetime_bar = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ total_replies_datetime_bar_chart_data|safe }},
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1,
          label: 'Total Replies',
          fill: 'false'
        }],
        labels: {{ total_replies_datetime_bar_chart_labels|safe }}
      },
      options: {
        title: {
            display: true,
            text: 'Replies'
         },
        scales: {
          responsive: true,
          yAxes: [{
            ticks: {
                //will start the bar chart at zero
                beginAtZero: true,
                //precision 0 will for only integers i.e. will not use 1.5
                precision: 0,
            }
          }]
        }
      }
    };
    </script>

<br>
<div id="container_6" style="width: 60%; margin: 0 auto;">
<canvas id="daily-average-sentiment-line-canvas"></canvas>
</div>
  <script>
  var daily_average_sentiment_line = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ daily_sentiment_average_df_line_chart_data|safe }},
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1,
          label: 'Average Score',
          fill: 'false'
        }],
        labels: {{ daily_sentiment_average_df_line_chart_labels|safe }}
      },
      options: {
        title: {
            display: true,
            text: 'Sentiment'
         },
        scales: {
          responsive: true,
          yAxes: [{
            ticks: {
                //will start the bar chart at zero
                beginAtZero: true,
                suggestedMax: 1,
                suggestedMin: -1

            }
          }]
        }
      }
    };
    </script>
<br>
<br>

<div id="container_7" style="width: 60%; margin: 0 auto;">
<canvas id="daily-total-sentiment-stacked-bar-canvas"></canvas>
</div>
  <script>
  var daily_total_sentiment_stacked_bar = {
      type: 'bar',
      data: {
      labels: {{ total_daily_sentiment_stacked_bar_chart_labels|safe }},
        datasets: [{
         label: 'Negative',
         backgroundColor: "#FF7F7F",
          data: {{ total_daily_sentiment_stacked_bar_chart_negative_data|safe }},
          },
          {
          label: 'Neutral',
          backgroundColor: "#FFF9A6",
          data: {{ total_daily_sentiment_stacked_bar_chart_neutral_data|safe }},
          },
          {
          label: 'positive',
          backgroundColor: "#56d798",
          data: {{ total_daily_sentiment_stacked_bar_chart_positive_data|safe }},
        }],
      },
options: {
    scales: {
      xAxes: [{
        stacked: true,
        gridLines: {
          display: false,
        }
      }],
      yAxes: [{
        stacked: true,
        ticks: {
          beginAtZero: true,
        },
        type: 'linear',
      }]
    },
    responsive: true,
  }
};
    </script>
<br>

<div id="container_3" style="width: 60%; margin: 0 auto;">
<canvas id="total-replies-username-bar-canvas"></canvas>
</div>
  <script>
  var total_replies_username_bar = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ total_replies_by_username_data|safe }},
          //using a single color without an array[] will cause all bars to be the same color
          backgroundColor:
            '#fdd835',
          label: 'Total Replies'
        }],
        labels: {{ total_replies_by_username_labels|safe }}
      },
      options: {
        title: {
            display: true,
            text: 'User Total Replies'
         },
        responsive: true,
        scales: {
          yAxes: [{
            ticks: {
                //will start the bar chart at zero
                beginAtZero: true,
                //precision 0 will for only integers i.e. will not use 1.5
                precision: 0,
            }
          }]
        }
      }
    };
    </script>
<br>
<div id="container_4" style="width: 60%; margin: 0 auto;">
<canvas id="most-frequent-words-bar-canvas"></canvas>
</div>
  <script>
  var most_frequent_words_bar = {
      type: 'horizontalBar',
      data: {
        datasets: [{
          data: {{ most_frequent_words_sorted_df_data|safe }},
          //using a single color without an array[] will cause all bars to be the same color
          backgroundColor:
            '#90EE90',
          label: 'Word Total'
        }],
        labels: {{ most_frequent_words_sorted_df_labels|safe }}
      },
      options: {
        title: {
            display: true,
            text: 'Most Frequent Words'
         },
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
                //will start the bar chart at zero
                beginAtZero: true,
                //precision 0 will for only integers i.e. will not use 1.5
                precision: 0,
            }
          }]
        }
      }
    };
</script>
<br>
<div id="container_5" style="width: 60%; margin: 0 auto;">
<canvas id="sentiment-for-quotes-pie-canvas"></canvas>
</div>
  <script>
    var sentiment_for_quotes_pie = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ quotes_sentiment_count_list|safe }},
          backgroundColor: [
          "#56d798",
          "#FF7F7F",
          "#FFF9A6"
          ],
          label: 'Sentiment'
        }],
        labels: {{ sentiment_pie_chart_labels|safe }}
      },
      options: {
        responsive: true,
        title: {
            display: true,
            text: 'Total Sentiment'
        }
      }
    };

      window.onload = function() {

      var ctx = document.getElementById('sentiment-for-quotes-pie-canvas').getContext('2d');
      window.myPie = new Chart(ctx, sentiment_for_quotes_pie);

      var ctx_3 = document.getElementById('total-replies-datetime-bar-canvas').getContext('2d');
      window.myBar = new Chart(ctx_3, total_replies_datetime_bar);

      var ctx_4 = document.getElementById('total-replies-username-bar-canvas').getContext('2d');
      window.myBar_2 = new Chart(ctx_4, total_replies_username_bar);

      var ctx_5 = document.getElementById('most-frequent-words-bar-canvas').getContext('2d');
      window.myBar_3 = new Chart(ctx_5, most_frequent_words_bar);

      var ctx_6 = document.getElementById('daily-average-sentiment-line-canvas').getContext('2d');
      window.myLine = new Chart(ctx_6, daily_average_sentiment_line);

      var ctx_7 = document.getElementById('daily-total-sentiment-stacked-bar-canvas').getContext('2d');
      window.myStacked = new Chart(ctx_7, daily_total_sentiment_stacked_bar);
    };

  </script>

{% endblock %}
