{% if latest_threads_list %}
    <ul>
    {% for thread in latest_threads_list %}
        <!--'url' will point the link to the urls.py file. 'polls:detail' polls indicates
        the app_name defined urls.py and 'detail' indicates the 'name' of the path defined in urls.py -->
        <li><a href="{% url 'polls:detail' thread.thread_id %}"> {{ thread.title }}</a>
            Pages: {{ thread.last_page_scraped }} - Created: {{thread.date_time }}</li>
        <li><a href="{% url 'polls:pie_chart' thread.thread_id %}">Charts</a></li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No threads are available.</p>
{% endif %}
