{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">

<!-- this is bootstrap4. may not work with other versions
https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html-->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<!--nav bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'forum:index'%}">Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'forum:users'%}">Users</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'forum:watch'%}">Watching</a>
    </li>
  </ul>
</nav>

<div id="margins">
<!--the table class below uses bootstrap to format the table. The first set of <th> tags are columns names. The following
<td> tags use django variables that display the data in the specified column names. The first set of <td> tags
 add the thread creators reply to the table, all the other replies are looped through and added to the table.-->
<br>
<h3>{{ thread_info.title }}</h3>
<a href="{% url 'forum:pie_chart' thread_info.thread_id %}">Charts for this thread</a>
<br>
<br>

<!--filter by username form-->
<div class=form-group">
<form method="GET">
  <input type="text" id="fname" name="fname" class="form-control-md" placeholder="Username">
  <button type="submit" class="btn btn-primary"> Submit</button>
    <a href="{% url 'forum:detail' thread_info.thread_id %}">Show All</a>
</form>
</div>

<br>
<div>
<table class="table table-bordered">
  <thead>
    <tr>
        <th>Username</th>
        <th>Quoted</th>
        <th>Reply</th>
        <th>Sentiment</th>
        <th>Score</th>
        <th>Date</th>
        <th>Page</th>
    </tr>
  </thead>
  <tbody>
  <!--Use this if statement to only show the thread creators reply in the table on the first page -->
    {% if replies.number == 1 %}
       <tr>
          <td>{{ thread_info.username }} (OP)</td>
          <td></td>
          <td>{{ thread_info.replies }}</td>
          <td></td>
          <td></td>
          <td>{{ thread_info.date_time|date:'Y-m-d H:i' }}</td>
          <td></td>
      </tr>
    {% endif %}
    {% for reply in replies %}
      <tr>
          <td>{{ reply.username }}</td>
          <td>{{ reply.quoted }}</td>
          <td>{{ reply.replies }}</td>
          <td>{{ reply.sentiment }}</td>
          <td>{{ reply.score }}</td>
          <td>{{ reply.date_time|date:'Y-m-d H:i' }}</td>
          <td>{{ reply.thread_page }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<!-- below is pagination code. I use the Paginator class and get_elided_page_range in views.py to format the pagination
This code uses bootstrap and prevents all pages from showing if there are several pages.-->
<div>
  <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if replies.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ replies.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for reply in pagination_page_range %}
      {% if replies.number == reply %}
        <li class="active page-item"><span class="page-link">{{ reply }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ reply }}">{{ reply }}</a></li>
      {% endif %}
    {% endfor %}
    {% if replies.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ replies.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</div>

<!-- closing tag for div id="margins> -->
</div>