{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">

<!-- this is bootstrap4. may not work with other versions
https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<!--nav bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'forum:index'%}">Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'forum:users'%}">Users</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'forum:watch'%}">Watching</a>
    </li>
  </ul>
</nav>

<div id="margins">
<!--the table class below uses bootstrap to format the table. The first set of <th> tags are columns names. The following
<td> tags use django variables that display the data in the specified column names-->
<div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Thread Title</th>
      <th>Pages</th>
      <th>Creator</th>
      <th>Created</th>
      <th>Views</th>
      <th>Replies</th>
      <th>View/Reply Rate (est.)</th>
      <th>Distinct Usernames</th>
      <th>Distinct Replies</th>
      <th>Charts</th>
    </tr>
  </thead>
  <tbody>
    {% for thread in threads %}
      <tr>
        <td><a href="{% url 'forum:detail' thread.thread_id %}">{{ thread.title }}</a>
          {% if thread.watch_list == 'no' %}
          <form action="{% url 'forum:watch_update' thread.thread_id %}" method="POST">{% csrf_token %}
            <button class="btn btn-link" type="submit" value="yes" name="watch-2"><i class="far fa-eye"></i></button>
          </form></td>
          {% else %}
          <form action="{% url 'forum:watch_update' thread.thread_id %}" method="POST">{% csrf_token %}
            <button class="btn btn-link" type="submit" value="no" name="watch-2"><i class="fas fa-eye"></i></button>
          </form></td>
          {% endif %}
        <td>{{ thread.last_page_scraped }}</td>
        <td>{{ thread.username }}</td>
        <td>{{ thread.date_time|date:'Y-m-d' }}</td>
        <td>{{ thread.total_views }}</td>
        <td>{{ thread.total_replies }}</td>
        <td>{{ thread.reply_rate_percentage }}%</td>
        <td>{{ thread.total_distinct_usernames }}</td>
        <td>{{ thread.percent_distinct_replies }}%</td>
        <td><a href="{% url 'forum:pie_chart' thread.thread_id %}">Charts</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<!-- below is pagination code. I use the Paginator class and get_elided_page_range in views.py to format the pagination
This code uses bootstrap and prevents all pages from showing if there are several pages.-->
<div>
  <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if threads.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ threads.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for thread in pagination_page_range|default_if_none:threads.paginator.get_elided_page_range %}
      {% if threads.number == thread %}
         <li class="active page-item"><span class="page-link">{{ thread }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ thread }}">{{ thread }}</a></li>
      {% endif %}
    {% endfor %}
    {% if threads.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ threads.next_page_number }}">&raquo;</a></li>
    {% else %}
     <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</div>

<!--closing tag for div id="margins"> -->
</div>
